{% extends 'base.html' %}

{% block content %}
  <link
    rel="stylesheet"
    href="{{ url_for('static', filename='css/archingblocks.css') }}"
  />

  <div class="container text-left">
    <div class="row align-items-start">
      <h1>
        <span class="arching-color">
          Arching Block 3: Law & Government
        </span>
      </h1>

      <img
        src="{{ url_for('static', filename='images/archingblock3.jpg') }}"
        class="img-fluid arching-image"
        alt="Arching Block 3 illustration"
      />
    </div>
  </div>
{% endblock %}
